/*.perspective1000 {*/
/*  perspective: 1000px;*/
/*}*/

/*.transformStylePreserve3d {*/
/*  transform-style: preserve-3d;*/
/*}*/

/*.backfaceHidden {*/
/*  backface-visibility: hidden;*/
/*}*/

/*!*.rotateY180 {*!*/
/*!*  transform: rotateY(180deg);*!*/
/*!*}*!*/

/*.cardContainer {*/
/*  position: relative;*/
/*  width: 16rem;*/
/*  height: 27rem;*/
/*  transition: transform 0.7s;*/
/*}*/

/*!*.cardContainer:hover {*!*/
/*!*  transform: rotateY(180deg);*!*/
/*!*}*!*/

/*!* .learnMore,*/
/*.goBack {*/
/*	position: absolute;*/
/*	bottom: 7px;*/
/*	font-size: 0.85rem;*/
/*	cursor: pointer;*/
/*	color: #dfdfdf;*/
/*	text-decoration: underline;*/
/*} *!*/

/*.cardSide {*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-evenly;*/
/*  align-items: center;*/
/*  padding: 1.5rem;*/
/*  !* 6px *!*/
/*  border-radius: 0.5rem;*/
/*  !* rounded-lg *!*/
/*  border: 1px solid white;*/
/*}*/

/*.frontSide {*/
/*  background: rgba(0, 0, 0, 0.2);*/
/*  !* bg-transparent/20 *!*/
/*}*/

/*.backSide {*/
/*  background: rgba(217, 217, 217, 0.3);*/
/*  !* bg-[#D9D9D9]/30 *!*/
/*  transform: rotateY(180deg);*/
/*}*/

/*.cardImage {*/
/*  height: 25%;*/
/*  flex-shrink: 0;*/
/*  flex-grow: 0;*/
/*}*/

/*.cardTitle {*/
/*  font-family: "Tilt Warp", sans-serif;*/
/*  color: #c4def0;*/
/*  font-size: 1.75rem;*/
/*  !* text-3xl *!*/
/*  text-align: center;*/
/*}*/

/*.cardText {*/
/*  font-family: "Space Grotesk", sans-serif;*/
/*  color: white;*/
/*  font-size: 1rem;*/
/*  !* text-md *!*/
/*  text-align: center;*/
/*}*/

.perspective1000 {
  perspective: 1000px;
  width: 16rem;
  height: 27rem;
  cursor: pointer;
}

.transformStylePreserve3d {
  transform-style: preserve-3d;
}

.backfaceHidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.cardContainer {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease-in-out;
  transform-style: preserve-3d;
}

.perspective1000:hover .cardContainer {
  transform: rotateY(180deg);
}

.cardSide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid white;

  -webkit-font-smoothing: antialiased;
}

.frontSide {
  background: rgba(0, 0, 0, 0.2);
}

.backSide {
  background: rgba(217, 217, 217, 0.3);
  transform: rotateY(180deg);
}

.cardImage {
  height: 25%;
  object-fit: contain;
  flex-shrink: 0;
  flex-grow: 0;
}

.cardTitle {
  font-family: "Tilt Warp", sans-serif;
  color: #c4def0;
  font-size: 1.75rem;
  text-align: center;
}

.cardText {
  font-family: "Space Grotesk", sans-serif;
  color: white;
  font-size: 1rem;
  text-align: center;
}
